<strong>Olá, {{ student.name }}</strong>
<p>Agradecemos por você acreditar em nosso trabalho, confira os detalhes do seu plano abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ student.name }} <br />
  <strong>Plano Contratado: </strong> {{ plan.title }} <br />
  <strong>Duração: </strong> {{ plan.duration }} <br />
  <strong>Valor: </strong> {{ price }} <br />
  <strong>Data de Início: </strong> {{ startDate }} <br />
  <strong>Data de Encerramento: </strong> {{ endDate }} <br />
  <br />

</p>
